.social {
    &.chart-area-bear-bull-history {
        max-width: none;
        width: 1012px;
        height: 506px;
        padding: 30px;
        background-size: 100%;
        background-repeat: no-repeat;
        background-image:
          url(https://fm.cnbc.com/applications/cnbc.com/resources/files/2020/02/27/twitter-graphic-bg-02.png);
        background-position: top left;
    }
    & .chart-head, & .chart-subhead, & .chart-title, & .chart-credit, & .grow-logo {
        display: none;
    }
    & .chart-title-social {
        display: block;
        margin-left: 60px;
        font-size: 28px;
        margin-bottom: 30px !important;
    }
    & .chart-container {
        height: 420px;
        margin-left: 60px;
        width: 75% !important;
    }
    & .chart-note, & .chart-source  {
        color: $slate-secondary-6;
        font-size: 16px !important;
        line-height: 20px;
        text-transform: uppercase;
        letter-spacing: normal;
        font-weight: 600;
        margin-top: -340px;
        margin-right: 85px;
        @include sm-md-xl {
            width: 160px;
            float: right;
        }
    }
    & .chart-source {
        margin-top: -200px;
    }
    & .grow-logo-social {
        display: block;
        float: right;
        margin-top: -80px;
        margin-right: 85px;
        width: 160px;
    }
    & .highcharts-grid-line {
        stroke: white;
    }
    & .highcharts-axis-labels, & .highcharts-legend-item {
        font-weight: 500;
        font-size: 24px;
        & text {
            font-size: 24px;
        }
    }
    & .highcharts-legend-item {
        & text {
            transform: translate(5px,0);
        }
    }
    & .highcharts-color-0 {
        fill: white;
        stroke: white;
      }  
    & .highcharts-color-1 {
        fill: $slate-secondary-5;
        stroke: $slate-secondary-5;
    }
    & .bull {
        color: black !important;
        background-color: white;
        padding: 0 5px;
    }
    & .bear {
        color: white !important;
        background-color: $slate-secondary-5;
        padding: 0 5px;
    }
}